@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fundo::before {
  /* top: 0px !important; */
  position: fixed !important;

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url(../../img/madero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.8;
  z-index: -1; 
  filter: blur(5px); 
}



.cardapio {

  display: flex;
  align-items: center;
  justify-content: center;


  width: 100%;
  height: 100%;
   position: relative;
  z-index: 0;
  overflow: hidden; 
} 


.secao-principal {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  width: 80%;
}

.cabecalho-cardapio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;;
  
  background-color: #1D1D1D;
}

.titulo-cardapio {
  font-size: 34px;
  font-weight: bold;  
  color: #cfa948;

  margin-bottom: 25px;
  font-family: 'Lobster', cursive;
}

.pag-cardapio {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;

  color: #ffffff;
}

.pag-cardapio img {
  width: 35px;
  height: 35px;
}

.linha {
  background-color: #fff;
  height: 25px;
  width: 3px;
}


.comidas {
  background-color: #414141;
  display: flex;
  flex-direction: column;

  padding: 25px;
}

.blocos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.bloco-comida {
  display: flex;
  flex-direction: column;
  padding: 20px;

  gap: 10px;
  background-color: #fff;
  border-radius: 2%;

  margin-top: 15px;
  width: 250px;
  height: 360px;
}

.bloco-comida p {
  font-family: 'Inter';
  color: black;
}

.bloco-comida h3 {
  font-family: 'Inter';
  color: black;
}



.bloco-comida img{
  width: 197px;
  height: 200px;
  align-self: center;
}






@media (max-width: 768px) {
  .cabecalho-cardapio {
    padding: 5vw;
  }

  .titulo-cardapio {
    font-size: 8vw;
    text-align: center;
  }

  .pag-cardapio {
    flex-direction: column;
    gap: 4vw;
  }

  .pag-cardapio a {
    font-size: 4.5vw;
  }

  .pag-cardapio img {
    width: 6vw;
    height: 6vw;
  }

  .linha {
    display: none; 
  }
}
