@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");



.instagram {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;

  
  align-items: center;
  gap: 1.5vw;

  padding: 2vw;
}


.instagram h5 {
  font-weight: 700;
  margin: 0;

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.8vw;
}



 /* --------------------------------------- */
.galeria-instagram {
  display: flex;
  flex-direction: row;

  gap: 1vw
}

.container-instagram {
  display: block;
  width: 20vw;
  height: 46vh;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
}


.overlay-instagram {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0);
  transition:  0.3s ease;
}

.icone {
  width: 64px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.container-instagram:hover .overlay-instagram {
  background: rgba(0, 0, 0, 0.4);
}

.container-instagram:hover .icone {
  opacity: 1;
  transform: translateY(0);
}






.seguir {
  display: flex;
  background-color: blue;
  padding: 1vw;
  border-radius: 1.2vw;


  color: #fff;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1vw;

  text-decoration: none !important;
}