@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
  font-family: Lato, sans-serif;
}

body {
  margin: 0%;
  min-height: 100vh;
  color: white;
  background-color: #1d1d1d ;
}

h1 {
  font-family: "Lobster" !important;
}

nav {
  position: sticky !important; /* Manter header na tela */
  top: 0px !important; /* Manter header na tela */
  z-index: 1000 !important; /* Manter header na tela */
}



.logo {
  width: 90px;
}

header div {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  
  
}

.navbaritem {
  color: #f0c660 !important;
  font-family: 'Lobster';
}

.navbar-collapse {
  margin-top: 1vh;
}

@media (min-width: 500px) {
  .navbar-collapse {
    margin-right: 12vw;
  }

  .navbar-brand {
    margin-left: 12vw;
  }
}

header div div p {
  margin: 0px;
}

header a {
  text-decoration: none;
}

.header-btns {
  color: #f0c660 !important;
}

.carrosselMain {
  width: 100%;
  max-height: calc(100vh - 100px);
}

.img-carrossel {
  height: calc(100vh - 100px);
}

/* Card cardapio home */

.divPaiCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #1d1d1d;

  margin-top: 2.5vw;
  margin-bottom: 2.5vw;
}

.cardConfira {
  margin: 10px;
  background-image: url("img/svg-fundo3.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  min-height: 50vh;
  border-radius: 30px;
  display: flex !important;
  justify-content: right !important;
  align-items: right !important;
  align-content: right !important;
  flex-direction: column;
}

.cardConfira p {
  color: #f0c660 !important;
  text-align: right !important;
  /* max-width: 40%; */
  font-size: 23px;
  margin-bottom: 100px;
  margin-left: auto;
}

.confiraText {
  margin-top: 30px;
  color: #f0c660 !important;
  font-size: 40px;
  text-align: right;
}

#cardPratoDoDia {
  margin: 10px;
  /* background-image: url("img/svg-fundo.png"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-color: #E8CFA0 !important;
  width: 100%;
  min-height: 50vh;

  max-width: 30%;
  text-align: center;
  border-radius: 2%;
}

.PDDText {
  margin-top: 30px;
  color: #1d1d1d !important;
  font-size: 40px;
  text-align: center;
}

#DDSnocard {
  font-size: 25px;
}

#nomedoprato {
  font-size: 25px;
  font-weight: bold;
}

.cardapioBTN {
  background-color: #f0c56000 !important;
  border: 1.5px solid #f0c660;
  border-radius: 7px;
  cursor: pointer;
  /* margin-left: auto; */
  /* margin-top: 100px; */
}

.cardapioBTN:hover   {
  background-color: #E8CFA0  !important;
  color: #2c2c2c !important;
  transition: 0.5s;
}


.cardapioBTN_A {
  font-size: 2vw !important;
  color: #f0c660 !important;
  padding: 0.5vw;
  text-decoration: none;
  text-align: right;


}

.itensCard1 {
  display: flex !important;
  align-items: right !important;
  flex-direction: column;
  /* margin-right: 20px; */
  text-align: right;

  padding: 1.5vw;
}



@media (min-width: 500px) {
  .itensCard1 {
    margin-right: 20px;
  }

  .cardConfira p {
    max-width: 400px;
  }
}

#pratododiafoto {
    width: 400px;
    height: 260px;
    object-fit: cover;
    border-radius: 4%;
    margin-bottom: 8px;
}

@media(max-width: 500px) {
  #pratododiafoto {
    width: 80%;
    height: 50%;
  }
}

/** --------------------------------- */
/** --------------------------------- */
/** --------------------------------- */

@media (max-width: 500px) {
  .img-carrossel {
    object-fit: cover;
    /* width: 100%; */
    /* height: auto; */
  }

  /* Card cardapio home */

  .divPaiCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



  }

  .cardConfira {
    margin: 10px;
    background-image: url("img/svg-fundo.png");
    background-repeat: no-repeat;
    min-width: 90%;
    min-height: 50vh;

    display: flex;
    justify-content: center !important;
    flex-direction: column;

  }

  .cardConfira p {
    color: #f0c660 !important;
    text-align: center !important;
    font-size: 20px;
    /* margin-right: 0px; */
    margin-bottom: 80px;
  }

  .confiraText {
    margin-top: 30px;
    color: #f0c660 !important;
    font-size: 50px;
    text-align: center;
  }

  #cardPratoDoDia {
    margin: 10px;
    /* background-image: url("img/svg-fundo.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-color: antiquewhite !important;
    min-width: 90%;
    min-height: 40vh;

    /* max-width: 30%; */
  }

  .PDDText {
    margin-top: 30px;
    color: #1d1d1d !important;
    font-size: 25px;
    text-align: center;
  }

  .cardapioBTN {
    background-color: #f0c56000 !important;
    color: #f0c660 !important;
    border: 2px solid #f0c660;
    max-width: fit-content;
    font-size: 30px !important;
    border-radius: 7%;
    /* padding: 10px; */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    /* margin-top: 80px; */
  }

  .itensCard1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-right: 20px; */

  }
}






/*-----------------PARTE SOBRE---------------*/


.sobre-home {
  display: flex;
  flex-direction: column;
  align-items: center; 
  color: #CDA434;
  background-color: #2c2c2c;


  padding: 2.5vw;
}

.sobre-home h1 {
  font-family: 'Lobster';
  font-weight: 300;
  font-size: 2.5vw;
}

.sobre-home img {
  width: 40%;
  border-radius: 3%;
}

.sobre-home div{
  display: flex;
  flex-direction: row;
}



.sobre-home p {
  padding: 15px;
  font-size: 1.6vw;
  font-family: 'Open Sans';
  line-height: 2.2vw;
}

.sobre-home div p {
  width: 80%; 
}


.parte-cima {
  margin-top: 2.5vw;
  display: flex;
}


.logo-canto {
  width: 3vw !important;
  align-self: flex-end !important;
  padding: 0 !important;
}




@media (max-width: 768px) {
  .sobre-home {
    padding: 5vw;
  }

  .sobre-home h1 {
    font-size: 6vw; 
    text-align: center;
  }

  .sobre-home p {
    font-size: 4vw;
    line-height: 6vw;
    text-align: justify;
  }

  .sobre-home div {
    flex-direction: column; 
    align-items: center;
  }

  .sobre-home img {
    width: 80%; 
    margin-bottom: 10px;
  }

  .sobre-home div p {
    width: 100%; 
  }

  .logo-canto {
    width: 10vw !important; 
    margin-top: 20px;
  }
}




/*------------------------ PARTE INSTAGRAM -----------------*/



.instagram {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #1d1d1d;

  
  align-items: center;
  gap: 1.5vw;

  padding: 2vw;
}


.instagram h5 {
  font-weight: 700;
  margin: 0;
  color: #fff;

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.8vw;
}



 /* --------------------------------------- */
.galeria-instagram {
  display: flex;
  flex-direction: row;

  gap: 1vw
}

.container-instagram {
  display: block;
  width: 20vw;
  height: 46vh;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
}


.overlay-instagram {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0);
  transition:  0.3s ease;
}

.icone {
  width: 2.2vw;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.container-instagram:hover .overlay-instagram {
  background: rgba(0, 0, 0, 0.4);
}

.container-instagram:hover .icone {
  opacity: 1;
  transform: translateY(0);
}






.seguir {
  display: flex;
  background-color: #CDA434;
  padding: 1vw;
  border-radius: 1.2vw;


  color: #000000;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1vw;

  text-decoration: none !important;
}





@media (max-width: 768px) {
  .galeria-instagram {
    flex-direction: column;
    align-items: center;
  }

  .container-instagram {
    width: 90vw;
    aspect-ratio: 4 / 3;
  }


  .container-instagram:nth-child(n + 2) {
    display: none;
  }

  .icone {
    width: 8vw;
  }

  .instagram h5 {
    font-size: 5vw;
    text-align: center;
  }

  .seguir {
    font-size: 4vw;
    padding: 3vw 5vw;
    border-radius: 3vw;
    margin: 3px 0 0 3px;
  }
}



/* -------------------- PARTE RODAPEEE ---------------*/



.rodape {
  display: flex;
  flex-direction: row;
  background-color: #CDA434;
  color: #1A237E;

  padding: 1.5vw;
  align-items: center;
  justify-content: flex-start;
}

.rodape:not(img) {
  display: flex;
  justify-content: space-evenly;
}

.rodape h1 {
  font-size: 1.5vw;
}

.rodape a {
  text-decoration: none !important;
  font-size: 1.2vw;
  
  color: #1A237E;
}


.endereco-rodape {
  display: flex;
  flex-direction: column;
}

.suporte-rodape {
  display: flex;
  flex-direction: column;
}

.suporte-rodape div {
  display: flex;
  gap: 0.4vw;
  margin-top: 5px;
}

.suporte-rodape img {
  width: 1.7vw;
}

.pagamentos-rodape div {
    width: auto;
    height: auto;
    margin-top: 5px;
}



@media (max-width: 768px) {
  .rodape {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5vw;
  }

  .rodape h1 {
    font-size: 5vw;
  }

  .rodape a {
    font-size: 4vw;
  }

  .suporte-rodape div {
    justify-content: center;
    align-items: center;
    gap: 2vw;
  }

  .suporte-rodape img {
    width: 6vw;
  }

  .pagamentos-rodape div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
  }

  .pagamentos-rodape img {
    width: auto;
    height: auto;
  }

  .rodape img {
    margin-top: 8px;
    max-width: 50vw;
    height: auto;
  }
}
