body {
    margin: 0%;
    max-height: 100vh;
}

header {
    background-color: #1d1d1d;
    position: sticky;
    height: 100px;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}




.carrosselMain {
    width: 100%;
    max-height: calc(100vh - 100px);
}

.img-carrossel {
    height: calc(100vh - 100px);
}