body {
    margin: 0%;
    height: 100vh;
}

header {
    background-color: #1d1d1d;
    position: sticky;
    height: 150px;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}