* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.rodape {
  display: flex;
  flex-direction: row;
  background-color: #CDA434;
  color: #1A237E;

  padding: 1.5vw;
  align-items: center;
  justify-content: flex-start;
}

.rodape:not(img) {
  display: flex;
  justify-content: space-evenly;
}

.rodape h1 {
  font-size: 1.5vw;
}

.rodape a {
  text-decoration: none !important;
  font-size: 1.2vw;
  
  color: #1A237E;
}


.endereco-rodape {
  display: flex;
  flex-direction: column;
}

.suporte-rodape {
  display: flex;
  flex-direction: column;
}

.suporte-rodape div {
  display: flex;
  gap: 0.4vw;
}

.suporte-rodape img {
  width: 1.7vw;
}
/*
.pagamentos-rodape div {
  display: flex;
  gap: 10px;
}

