@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.sobre-home {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;

  background-color: #2c2c2c;
  color: #cda434;
  z-index: -2;

  margin: 0px;
  padding: 25px;
}
.insobhome {
  display: flex;
  flex-direction: row;
}

.direita-sobre {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.direita-sobre h1 {
  font-family: "Lobster";
  font-weight: 300;
  font-size: 2.5vw;
  margin: 0vw 0vw 0vw 0vw;
}

.imagem-sobre {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.imagem-sobre h1 {
  position: absolute;
  background-color: #2c2c2c;
  justify-items: flex-end;

  margin: 1vw 1.5vw 0vw 0vw;
  padding: 5px;
}

.imagem-sobre img {
  width: 100%;
}

.esquerda-sobre {
  display: flex;
  width: 50%;
  padding: 15px;
  flex-direction: column;
}

.esquerda-sobre p {
  font-size: 2vw;
}

@media (max-width: 500px) {
  .sobre-home {
    flex-direction: column;
    width: 100%;
    padding: 0px;
    padding-top: 5px;
  }

  .direita-sobre {
    width: 100%;
  }

  .direita-sobre h1 {
    font-size: 5vw;
    margin: 0vw 0vw 0vw 5vw;
  }

  .imagem-sobre img {
    width: 100%;
    height: auto;
  }

  .esquerda-sobre {
    width: 100%;
    padding: 15px;
  }
  .insobhome {
    display: flex;
    flex-direction: column;
  }
  
  .esquerda-sobre p {
    font-size: 5vw;
  }
  .rodape h1 {
    font-size: 4vw;
  }
}




  